In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
raw_data = pd.read_csv('E:\\Data Science\\Data Sets\\Data Science In Logistic Domain\\Food Demand Forecasting\\train.csv')

In [4]:
raw_data.shape

(456548, 9)

In [5]:
# set up display area to show dataframe in jupyter qtconsole

pd. set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [6]:
raw_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

## Checkpoint 1:

In [7]:
df = raw_data.drop(['id'],axis=1)

In [8]:
df.describe()

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
count,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000
mean,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760
std,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798
min,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000
25%,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000
50%,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000
75%,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000
max,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000

In [9]:
df.head()

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1,55,1885,136.83,152.29,0,0,177
1,1,55,1993,136.83,135.83,0,0,270
2,1,55,2539,134.86,135.86,0,0,189
3,1,55,2139,339.50,437.53,0,0,54
4,1,55,2631,243.50,242.50,0,0,40

## Declaring Inputs and Targets:

In [10]:
x = df.drop(['num_orders'],axis=1)
y = df['num_orders']

## Scaling Inputs:

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)

## Train Test Split:

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.20,random_state=42)

## Training the model: Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(x_train,y_train)

In [ ]:
reg.score(x_train,y_train)

## Testing the Model: Using Random Forest

In [ ]:
y_pred = reg.predict(x_test)

plt.scatter(y_test,y_pred,color='r')
plt.plot([y_test.min(), y_test.max()], [y_pred.min(), y_pred.max()], color = 'black', linewidth = 2)
plt.xlabel('Targets')
plt.ylabel('Predictions')
plt.show()

In [ ]:
reg.score(x_test,y_test)

## Training: Multiple Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
reg_2 = LinearRegression()
reg_2.fit(x_train,y_train)

In [ ]:
reg_2.score(x_train,y_train)

In [ ]:
reg_2.score(x_test,y_test)

## Training: Xgboost:

In [ ]:
import xgboost
classifier = xgboost.XGBRegressor()
classifier.fit(x_train,y_train)

In [ ]:
classifier.score(x_train,y_train)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
classifier.score(x_test,y_test)

## Training using Decision Tree:

In [ ]:
from sklearn.tree import DecisionTreeRegressor
reg_4 = DecisionTreeRegressor(random_state=0)
reg_4.fit(x_train,y_train)

In [ ]:
reg_4.score(x_train,y_train)

In [ ]:
y_pred = reg_4.predict(x_test)

In [ ]:
reg_4.score(x_test,y_test)